/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & Wenjun Qu
 */

.slide_show_workspace{
    -fx-background-color: #F5DE5E;
}
.slide_editor_pane{
    -fx-background-color: #FACC2E;
}
.slide_show_tool_bar{
    -fx-background-color: #FFED98;
}
.slide_show_tool_bar_button{
    -fx-background-color: #FFF4C1;
    -fx-padding: 20px 20px 20px 20px;
    -fx-spacing: 50px;
    -fx-border-color: #B19924;
}
.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: #FFED98;
    -fx-border-color: rgb(50, 5, 5);
}

.slide_show_font{
    -fx-font-family :"Kristen ITC";
    -fx-font-size: 1.5em;
    -fx-text-inner-color: #FACC2E;
}
.slide_show_caption_font{
    -fx-font:1.3em "Kristen ITC";
    -fx-text-fill: #FF944E;
}
.slide_view_hbox{
    -fx-spacing:60px;
}
.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: #D2F723;
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.slide_slected{
    -fx-border-color:rgb(250,50,50);
    -fx-border-width: 5px;
}

.vertical_toolbar_button {
    -fx-background-color: #FFF4C1;
    -fx-padding: 17px 17px 17px 17px;
    -fx-spacing: 50px;
    -fx-border-color: #B19924;

}

.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}

.language_selection{
    -fx-font: 1.5em "Kristen ITC";

    -fx-background-color: yellow;
}