	#myTitle{
		font-family: "Kristen ITC";
		font-size: 4em;
		color: #73FE00;
		font-style: oblique;
		text-align: center;
		background-color: #FFF100; 
	}
	#myImage{
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		height: 750px;
		}
	#myBody{
		background-color: #EDE559;
	}
	#myCaption{
		font-family: "Kristen ITC";
		font-size: 3em;
		color: #FFFCF0;
		text-align: center;
		background-color: #FFD300;
	}
	#myButton{
		font-family: "Kristen ITC";
		font-size: 2.5em;
		text-align: center;
	}